{% extends "base.html" %}
{% block content %}
<h1 class="my-4">Program Rekap Nilai Mahasiswa</h1>
<p>Gunakan bar navigasi di atas untuk memulai.</p>
<p>Programmed by:<br>Nama: Ilyasa Nur<br>NIM: 2230511020<br>Prodi: Teknik Informatika 4A<br>Tanggal: 22 Juli, 2024</p>

<h2 class="my-4">Preview Mahasiswa yang Telah Direkap Nilainya</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>NIM</th>
            <th>Nama</th>
            <th>Jurusan</th>
            <th>Rata-rata</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.nim }}</td>
            <td>{{ student.nama }}</td>
            <td>{{ student.jurusan }}</td>
            <td>{{ student.rata }}</td>
            <td>{{ student.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
